p {
  opacity:.7
}

.instructions > ul > li {
  border-bottom:1px solid #D3d3d3;
  list-style-type: none;
  padding:10px;
}

#sandbox, #my-div {
  margin-top:20px;
}


.axis line, .axis path {
  fill: none;
  stroke: #000;
}

.title {
	text-anchor:middle;
  width: 75vw;
}

.axis text {
  font-size:10px;
}

.bar {
  opacity:.4;
}

form {
  margin-bottom:20px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#nav-bar {
  display: inline-block;
  position: fixed;
}

#map {
    height: 100%;
}

.imgDiv {
  width: 80vw;
}

#landing {
  margin-bottom: 0; 
}

#landing-title {
  background: rgba(255, 255, 255, .5);
  color: black;
  padding: 30px;
  border-radius: 15px;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 18px;
  top: 40vh;
  left: 15vw;
  position: absolute;
}

h1 {
  font-family: 'Averia Serif Libre', cursive;
  color: white;
}

.section {
  width: 100vw;
}

.container {
  margin-left: 5%;
}

#candle-pic {
  position: absolute;
  height: 100vh;
  width: 100vw;
}