body {
  height: 100vh;
  /*overflow: hidden;*/
  font-family: 'Averia Serif Libre', cursive;
  /*background-image: url('../img/candles.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;*/
}

p {
  opacity:.7
}

.instructions > ul > li {
  border-bottom:1px solid #D3d3d3;
  list-style-type: none;
  padding:10px;
}

#sandbox, #my-div {
  margin-top:20px;
}


.axis line, .axis path {
  fill: none;
  stroke: #000;
}

.title {
	text-anchor:middle;
  /*width: 75vw;*/
}

.axis text {
  font-size:10px;
}

.bar {
  opacity:.4;
}

form {
  margin-bottom:20px;
}

.node circle {
  fill: grey;
  stroke: black;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#nav-bar {
  display: inline-block;
  position: fixed;
}

#map {
    height: 60vh;
    width: auto;
}

.slider.slider-horizontal {
  width: 70%;
}

#glance {
  text-align: center;
}

.imgDiv {
  width: 80vw;
}

#landing {
  margin-bottom: 0; 
}

#landing-title {
  background: rgba(255, 255, 255, .4);
  color: black;
  padding: 30px;
  border-radius: 15px;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 18px;
  top: 40vh;
  left: 15vw;
  position: absolute;
}

h1 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 80px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.section {
  width: 80%;
  margin-left: auto;
  margin-right:auto;
}

#sections{
  max-width: 1080px;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

#candle-pic {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 20px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

h3, #typeStoryDisplay {
  /*font: 400 120px/500px "Helvetica Neue";*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 520px;
  margin: 0;
  position: absolute;
  padding-top: 30vh;
}

#typeStoryDisplay {
  font-size: 25px;
  font-weight: bold;
}

#storyImg, #storyh3 {
  margin-right: auto;
  margin-left:auto;
  padding-top: 40vh;
  /*padding-top: 50px;*/
  text-align: center;
}

#livesLostVis {
  padding-top: 20vh;
  text-align: center;
}

#attackTypeVis {
  text-align: center;
}

svg {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 20vw;
}

#graphText {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 20px;
  padding-top: 10vh;
}

.btn-primary.active {
  background-color: darkgrey;
  border-color: white;
  color: black
}

.btn-primary {
  margin-bottom: 5px;

  background-color: lightgrey;
  border-color: white;
  color: black
}

.btn-primary:hover, .btn-primary.active:hover {
  background-color: grey;
  border-color: white;
  color: black
}

.btn-primary.active:active, .btn-primary:active{
  background-color: grey !important;
  border-color: white !important;
  color: black !important;
}

.slider-handle{
  background: black !important;
}

.sdiv b{
  margin: 14px
}

.btn-group{
margin-right: auto;
margin-left: auto;
}
