#attackTypesVis {
    position: absolute;
}                      
                                   /* NEW */
.toooltip {
    position:relative;
    margin-left:1px;
    background: #eee;                                               /* NEW */
    box-shadow: 0 0 5px #999999;
    color: black;                                                    /* NEW */
    display: none;                                                  /* NEW */
    font-size: 14px;                                                /* NEW */
    padding: 10px;                                                  /* NEW */
    position: absolute;
    text-align: center;                                             /* NEW */
    z-index: 10;                                                    /* NEW */
}                                                                   /* NEW */